* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #000;
  color: #f3f3f3;
  overflow-x: hidden;
  font-family: sans-serif;
}

section {
  height: 100vh;
  margin-bottom: 0;
  position: relative;
}

.header-wrapper {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
}

.ui-wrapper {
  position: absolute;
  left: 1em;
  top: 2em;
  bottom: 2em;
}

h2 {
  padding: 2em 0;
  position: sticky;
  top: 0;
  text-align: right;
  margin-right: 1em;
}

.sketch-ui-panel {
  display: inline-block;
  position: sticky;
  top: 2em;
  max-height: calc(100vh - 3em);
}